* {
    /* border: 1px solid pink; */
    /* border: 0; */
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    font-family: Roboto, 'Lucida Sans', Arial, sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: #1f2937;
    padding: 16px 128px;
}

.logo {
    color: #f9faf8;
    font-size: 24px;
    font-weight: 900;
}

.header-links {
    display: flex;
    gap: 16px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    color: #e5e7eb;
    text-decoration: none;
    font-size: 18px;
}

.hero {
    display: flex;
    background-color: #1f2937;
    padding: 64px 128px;
}

.hero-left {
    padding-right: 32px;
}
.main-text {
    color: #f9faf8;
    font-size: 48px;
    font-weight: 900;
}

.secondary-text {
    color: #e5e7eb;
    font-weight: 18px;
    margin-bottom: 8px;
}

.hero-button {
    background-color: #3882f6;
    color: #f9faf8;
    border-radius: 8px;
    padding: 8px 24px;
    border: none;
}

.info-header {
    color: #1f2937;
    font-size: 36px;
    font-weight: 900;
    display: flex;
    justify-content: center;
    padding: 36px 0;
}

.container {
    display: flex;
    gap: 36px;
    padding: 0 256px;
    justify-content: center;
}

.info img {
    border-radius: 8px;
    width: 140px;
    height: 140px;
    object-fit: cover;
    margin: auto;
    border: 2px solid #3882f6;
}

.info {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.information {
    padding-bottom: 64px;
}

.quote {
    background-color: #e5e7eb;
    color: #1f2937;
    padding: 64px 256px
}

.quote-text {
    font-style: italic;
    font-size: 36px;
    font-weight: 100;
    }

.quote-thor {
    font-size: 24px;
    display: flex;
    justify-content: flex-end;
}

.cta {
    display: flex;
    justify-content: center;
}

.background {
    background-color: #3882f6;
    border-radius: 4px;
    color: #f9faf8;
    width: 800px;
    height: 120px;
    margin: 64px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 80px;
    box-sizing: border-box;
}   

.call {
    font-weight: 700;
}

.sign {
    font-size: smaller;
}
.cta-button {
    background-color: #3882f6;
    color: #f9faf8;
    border-radius: 8px;
    padding: 8px 24px;
    border-color: #f9faf8;
    border-style: solid;
}

.footer {
    background-color: #1f2937;
    color: #e5e7eb;
    text-align: center;
    padding: 24px 0;
}